body{
    background-color: #000000;
}
.info_window{
    display: none; 
    background-color: rgba(255, 255, 255, 0.0);
    position: fixed;
    width: 300px;
}
.star:hover .info_window {
    display: block;
}